<div>
    <span class="text_logo_sm">MediCom</span>
    <span>Welcome </span>
    <span id="text_doctor_name">Doctor</span>

</div>

<!--/* new code starts here*/-->

<div >
    <!--<tabset class="tabs-left">-->
        <!--<tab heading="Vertical A">Vertical content A</tab>-->
        <!--<tab heading="Vertical B">Vertical content B</tab>-->
    <!--</tabset>-->
    <!--<div id="tabs">-->
        <!--<ul>-->
            <!--<li ng-repeat="patient in home.patients">-->
                <!--<a href="{{$index}}">patient.name</a>-->
            <!--</li>-->
        <!--</ul>-->
        <!--<div ng-repeat="patient in home.patients" id="{{$index}}">-->
            <!--{{patient.name}}-->
        <!--</div>-->
    <!--</div>-->

<!--&lt;!&ndash;<div ng-controller="PatientListCtrl">&ndash;&gt;-->
    <!--<ul>-->
        <!--<li ng-repeat="patient in home.patients">-->
            <!--<a ui-sref="partyDetails({ partyId: party._id })">-->
              <!--{{patient.name}}-->
            <!--</a>-->
            <!--&lt;!&ndash;<p>{{party.description}}</p>&ndash;&gt;-->
            <!--&lt;!&ndash;<party-remove party="party"></party-remove>&ndash;&gt;-->
        <!--</li>-->
    <!--</ul>-->

    <tabset class="tabs-left">
        <form id="search-form">
            <span class="icon"><i class="fa fa-search"></i></span>
            <span><input type="text" class="search rounded" ng-model="inputForm" placeholder="Search"></span>
        </form>
        <tab class="adjust-float" ng-repeat="patient in home.patients" heading="{{patient.name}}">
            <div class="container">
                <div>
                    <div class="container adjust-float-tabContent ">
                        <form editable-form name="editableForm">
                            <div>
                                <div>
                                    <span editable-text="patient.name" e-name="name" id="data-patient-name" e-required>{{ patient.name || 'empty' }}</span>
                                    <button>Edit Info</button>
                                </div>
                                <div>
                                    <span>Age:</span>
                                    <input type="text" id="data-age" readonly="readonly">
                                    <span>Date of Birth:</span>
                                    <input type="text" id="data-dob" readonly="readonly">
                                </div>
                                <div>
                                    <span>Gender:</span>
                                    <input type="text" id="data-age" readonly="readonly">
                                    <span>Weight:</span>
                                    <input type="text" id="data-dob" readonly="readonly">
                                </div>
                                <div>
                                    <div>
                                        <span>Issue/Notes:</span>
                                    </div>
                                    <div>
                                        <textarea class="data-patient-textarea"></textarea>
                                    </div>
                                </div>
                                <div>
                                    <span>Current Session:</span>
                                    <select>
                                        <option value="1">3/17/2016-3/24/2016</option>
                                        <option value="2">3/25/2016-4/1/2016</option>
                                    </select>
                                    <button>Add Session</button>
                                </div>
                                <div>
                                    <select>
                                        <option value="bp">Blood Pressure</option>
                                        <option value="hr">Heart Rate</option>
                                    </select>
                                    <button>Add Graph/Data</button>
                                </div>
                                <div></div>
                                <div>
                                    <div>
                                        <span>Comments:</span>
                                    </div>
                                    <div>
                                        <textarea class="data-patient-textarea"></textarea>
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <span>Session History:</span>
                                    </div>
                                    <div>
                                        <textarea class="data-patient-textarea"></textarea>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </tab>
    </tabset>
</div>