<div class="div_login">
    <div>
        <a href=" "><span class="text_back_link">&lt;-Back to Home</span></a>
    </div>
    <div class="div_login_logo div_login_center">
        <span class="text_logo_lg">MediCom</span>
    </div>
    <div class="div_login_auth">
        <div class="div_login_input_fields">
            <label for="input_login">Login:</label>
            <input id="input_login">
            <!--<div class="div_login_inline-block">-->
            <!--<span class="text_input_field">Login:</span>-->
            <!--</div>-->
            <!--<div class="div_login_inline-block">-->
            <!--<input id="input_login">-->
            <!--</div>-->
        </div>
        <div class="div_login_input_fields">
            <div class="div_login_inline_block">
                <span class="text_input_field">Password:</span>
            </div>
            <div class="div_login_inline_block">
                <input id="input_pass">
            </div>
        </div>
    </div>
    <div class="div_login_center">
        <button id="btn-login">Login</button>
        <button>Join Us</button>
    </div>
</div>