login {

  .div_login {
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
  }

  .div_login_logo {
    margin-top: 50px;
  }

  .div_login_inline_block {
    display: inline-block;
  }

  .div_login_center {
    text-align: center;
  }

  .div_login_auth {
    margin: auto;
    margin-top: 50px;
    width: 30%;
  }

  .div_login_input_fields {
    margin-bottom: 20px;
  }

  /* text css */
  .text_back_link {
    /*font-size: 14px;*/
    /*color: dodgerblue;*/
  }

  .text_logo_lg {
    font-size: 55px;
    color: dodgerblue;
    text-decoration: underline;
  }

  .text_logo_sm {
    font-size: 25px;
    color: dodgerblue;
    text-decoration: underline;
  }

  .text_input_field {
    font-size: 16px;
    color: black;
  }

  #input_login {
    width: 200px;
  }

  #input_pass {
    width: 200px;
  }

}